.carrossel-title {
  margin: 0.5rem 0 0 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.slider {
  background: transparent;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: 0 0 1rem 0;
  overflow: hidden;
  position: relative;
  width: 960px;
  max-width: 100%;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 60s linear infinite;
  display: flex;
  width: calc(250px * 14);
  gap: 0.25rem;
}

.slide {
  height: 100px;
  width: 250px;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* Responsivo */
@media (max-width: 768px) {
  .slider {
    width: 100%;
    height: 80px;
  }

  .slider::before,
  .slider::after {
    height: 80px;
    width: 100px;
  }

  .slide-track {
    width: calc(200px * 14);
  }

  .slide {
    height: 80px;
    width: 200px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-200px * 7));
    }
  }
}